Django~=5.2
flake8
freezegun==1.5.5
python-dateutil==2.9.0
coveralls
diff-match-patch==20110725.1
skip-django-germanium==2.6.0
six==1.17.0
Pillow==12.1.1
boto3==1.42.59
setuptools==82.0.0
django-storages==1.14.6
-e ../
